<!DOCTYPE HTML>
<html>
	<head>
		<title>Heroku Backup Orchestrator</title>
		<link rel="stylesheet" type="text/css" href="/hba.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/hba.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>Heroku Backup Orchestrator</h1>
				<h4>Application: <%= settings.heroku_app %></h4>
			</div>
			<div id="main">
				<div>
					<input type="submit" value="Manual Backup" id="manual_backup_button"/>
					<img src="/ajax-loader.gif" id="ajax_loader" style="display: none; vertical-align: middle;" />
					<span id="backup_result"></span>
				</div>
				<h3>Bundles</h3>
				<table>
					<thead>
						<tr>
							<th>Date (dd-mm-yyyy)</th>
							<th>Size (MB)</th>
							<th>Type</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<% @backups.page(@current_page).each do |b| %>
							<tr>
								<td><%= b.date %></td>
								<td><%= b.size_mb %></td>
								<td><%= b.type %></td>
								<td><a href="<%= link_to(b) %>">Download</a></td>
							</tr>
						<% end %>
				  </tbody>
				</table>
				<% if @backups.nr_of_pages > 1 %>
					<p>
						<% unless @current_page == 1 %>
							<a href="/?page=<%= 1 %>">First</a>
							<a href="/?page=<%= @current_page - 1 %>">Previous</a>
						<% end %>
						<% @backups.nr_of_pages.times do |i| %>
							<% page_nr = i + 1 %>
							<% if page_nr == @current_page %>
								<%= page_nr %>
							<% else %>
								<a href="/?page=<%= page_nr %>"><%= page_nr %></a>
							<% end %>
						<% end %>
						<% unless @backups.last_page?(@current_page) %>
							<a href="/?page=<%= @current_page + 1 %>">Next</a>
							<a href="/?page=<%= @backups.nr_of_pages %>">Last</a>
						<% end %>
					</p>
				<% end %>
			</div>
		</div>
	</body>
</html>